body {
    background-color: black;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.display {
    background-color: #BCCC98;
    text-align: right;
    width: 100%;
    padding: 0 1em 0 1em;
    border: 8px ridge gray;
}

.spclfncn {
    background-color: #3D4543;
    width: 100%;
    height: 10%;
    font-size: 30px;
}

.keypad {
    background-color: #4C4C4C;
    width: 60%;
    height: 67%;
    float: left;
    font-size: 30px;
}

.operator {
    background-color: #666666;
    width: 40%;
    height: 67%;
    float: left;
    font-size: 30px;
}

.buttons ul {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}

.buttons .spclfncn ul li {
    width: 20%;
    height: 100%;
    padding: 13px;
    float: left;
}

.buttons .keypad ul li {
    width: 33.33%;
    height: 25%;
    padding: 35px;
    float: left;
}

.buttons .operator ul li {
    width: 50%;
    height: 25%;
    padding: 35px;
    float: left;
}


.buttons ul li:hover
{
    /*to add zoom effect*/
    /* transform: scale(1.2);
    transition: transform 1s; */
    background-color: black;
    color: white;
    
}

.buttons ul li:active{
background-color:#2C2C2C;
}